# L1 RPC URL for L1 contract interactions
REACT_APP_L1_RPC_URL=https://your-l1-rpc-url

# L2 RPC URL for L2 contract interactions
REACT_APP_L2_RPC_URL=http://your-l2-rpc-url

# Block Monitor RPC Endpoints
REACT_APP_GATEWAY_RPC_URL=https://your-gateway-rpc-url
REACT_APP_MAIN_NODE_RPC_URL=http://your-main-node-rpc-url
REACT_APP_TEE_NODE_RPC_URL=http://your-tee-node-rpc-url
